<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/Resume">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:nathan.shaw@uconn.edu"><img alt="Email" src="https://www.flaticon.com/premium-icon/icons/svg/542/542638.svg" /></a></li>
	        		<li><a href="https://github.com/nshaw98"><img alt="Github" src="https://image.flaticon.com/icons/svg/25/25231.svg" /></a></li>
				<li><a href="https://www.linkedin.com/in/nathanshaw0/">
					<img alt="LinkedIn" src="https://image.flaticon.com/icons/svg/69/69406.svg" />
					</a> </li>
				
				</ul>
			</footer>
		</body>
	</html>
