<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
        			<a href "#" style="background:#f19800"><i class = 'ion-ios-home'></i></a>
        			<a href "#"><i class = 'ion-ios-folder'></i></a>
        			<a href "#"><i class = 'ion-heart'></i></a>
        			<a href "#"><i class = 'ion-gear-b'></i></a>
        			<a href "#"><i class = 'ion-search'></i></a>

    			</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul class="box">
				<li><a href="mailto:nathan.shaw@uconn.edu.com">email</a></li>
	        		<li><a href="https://github.com/nshaw98">github.com/nshaw98</a></li>
				<li><a class="fb ion-social-facebook" href="#"></a></li>
	        		<li><a class="tw ion-social-twitter" href="#"></a></li>
				<li><a href="mailto:nathan.shaw@uconn.edu.com">email</a></li>
	        		<li><a href="https://github.com/nshaw98">github.com/nshaw98</a></li>
				</ul>
			</footer>
		</body>
	</html>
