<body>
 			<nav>
 	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="https://drive.google.com/file/d/1k0zGohSfWcsh8N1L7uih2x5f2JNgUcCm/view?usp=sharing">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>

 			</nav>
 			<div class="container">
 			
 			{{ content }}
 			
 			</div><!-- /.container -->
 			<footer>
	    		<ul>
				<li><a href="mailto:nathan.shaw@uconn.edu.com">email</a></li>
	        		<li><a href="https://github.com/nshaw98">github.com/nshaw98</a></li>
 				</ul>
				</footer>
	<div class="section" id="contacts">
			<h1><span>Follow Me</span></h1>
			<div>
				<a href="https://www.sololearn.com/" target="_blank">
					<img alt="SoloLearn" src="https://www.sololearn.com/Uploads/icons/sololearn.png" />
				</a>
				<a href="#">
					<img alt="Facebook" src="https://www.sololearn.com/Uploads/icons/facebook.png"/>
				</a>
				<a href="#">
					<img alt="Twitter" src="https://www.sololearn.com/Uploads/icons/twitter.png" />
				</a>
			</div>
		</div>
